body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width: 90%;
  margin-bottom: 20px;
}

.indexTableTitles, .showTableTitles {
  background-color: black;
  color: cyan;
}

td {
  padding: 10px;
  text-align: center;
  border: 1px solid grey;
  background-color: rgb(220, 220, 220);
}

label, #addFlightBtn {
  padding-left: 20px;
}

.destinationTableTitles {
  background-color: black;
  color: rgb(230, 0, 255);
}

.add-destination-form {
  max-width: 250px;
  border: 1px solid;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}

#addDestinationBtn {
  text-align: center;
}